<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Title</title>
    </head>
    <body>
        <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="fragment">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New team</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <select id="associativeEventGroupSelector" class="form-control">
                                <th:block th:each="eventGroup : ${eventGroups}">
                                    <option th:value="${eventGroup.id}" th:text="${eventGroup.name}"></option>
                                </th:block>
                        </select>
                        <form id="form" th:action="@{/addTeam}" method="post">
                            <input type="text" name="name"></input>
                        </form>
                        <button onclick='$("#teamModal").removeClass("fade"); $("#teamModal").modal("hide"); $.post($("#form").attr("action") + "/" + $("#associativeEventGroupSelector").val(), $("#form").serialize(), function(html) {retrieveTeams()});' class="btn btn-primary">Save</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>