<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div th:fragment="fragment" class="revert">
    <div th:replace="roundModalAddOther_generated :: fragment"></div>
    <table class="table" th:onload="${'var compSelectedId = ' + compSelected.id + ';'}">
        <thead>
        <tr>
            <th colspan="3" th:text="${compSelected.name}"></th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="round : ${compSelected.rounds}">
            <tr th:if="${round.values.size()>2}">
                <td th:text="${round.values.get(0)}"></td>
                <td th:text="${round.values.get(1)}"></td>
                <td th:text="${round.values.get(2)}"></td>
                <td th:text="${round.result(func)}">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roundModalAddOther">Edit</button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roundModalAddOther">Add</button>
    </div>
</div>
</body>
</html>